<html lan="en" ng-app="StratagemApp">

<head>
  <style>
  /*Fix for Angular Material Content Scrolling for Firefox*/
  .layout-column.flex,
  .layout-row.flex {
    overflow: auto;
  }
  </style>
  <link rel="stylesheet" href="libs/angular-material/angular-material.css">
</head>

<body>

  <body layout="column" ng-controller="NavigationController as navigation">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="navigation.toggleSidenav('left')" hide-gt-md class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
          </md-icon>
        </md-button>
        <h1 ui-sref="graph-saver">Stratagem Coding Challenge </h1>
      </div>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-button class="md-accent" ng-repeat="page in navigation.pages" ui-sref="{{page.location}}">{{page.title}}</md-button>
      </md-sidenav>
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <ui-view></ui-view>
        </md-content>
      </div>
    </div>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="libs/angular-animate/angular-animate.js"></script>
    <script src="libs/angular-aria/angular-aria.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <script src="js/stratagemApp.js"></script>
    <script src="js/components/navigation/navigationApp.js"></script>
    <script src="js/components/graph/graphApp.js"></script>
    <script src="js/components/graph/graphService.js"></script>
    <script src="js/components/graph/graphController.js"></script>
    <script src="libs/angular-material/angular-material.js"></script>
  </body>

</html>
