<md-card>
  <md-card-content>
    <md-card-content-text>
      <h3> Viewing information for graph: {{ id }}</h3>
    </md-card-content-text>
  </md-card-content>
  <md-card-content>
    <md-divider></md-divider>
  </md-card-content>
  <md-card-content>
    <p>Title: {{ title | unknown }}</p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <p> Min: {{ min | unknown }} </p>
    <p> Max: {{ max | unknown }} </p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <p> Type: {{ type | unknown }} </p>
  </md-card-content>
</md-card>
