<md-card layout="column" ng-cloak class="md-inline-form" layout-padded>
  <md-card-content>
    <md-content layout-padding>
      <form ng-submit="submit()">
        <div layout layout-sm="column">
          <md-input-container flex=25>
            <label>Min</label>
            <input ng-model="min">
          </md-input-container>
          <md-input-container flex=25>
            <label>Max</label>
            <input ng-model="max">
          </md-input-container>
          <md-input-container flex=50>
            <label>Chart Type</label>
            <md-select ng-model="type">
              <md-option ng-repeat="type in chart_types" value="{{type}}" ng-model="chart_type">
                {{type}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Title</label>
            <input ng-model="title">
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container>
            <md-button class="md-raised md-primary" id="submit" type="submit">Submit</md-button>
          </md-input-container>
        </div>
        </div>
      </form>
    </md-content>
  </md-card-content>
</md-card>
