<md-card flex class="md-whiteframe-z2">
  <md-list>
    <md-list-item>
      Filter: <input ng-model="query" type="text"></input>
    </md-list-item>
    <md-list-item class="md-2-line" ng-repeat="graph in graphs | filter:query | orderBy:'-_id'">
      <div class="md-list-item-text">
        <a ui-sref="graph-detail({_id:graph._id})"><span>{{graph._id}}</span></a>
        <p>{{graph.title}}</p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-card>
